.about-event{
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    text-align: center;
    height: 60vh;
    background: rgb(218,12,133);
    background: linear-gradient(140deg, rgba(218,12,133,0.5) 0%, rgba(0,0,0,0.3) 18%, rgba(0,0,0,0.9472163865546218) 100%);
}

.event-about-grid{
    display: grid;
    grid-template-columns: 180px 180px 180px 180px;
    grid-template-rows: 100px 100px 60px;
    grid-gap: 4px;
    transition: 0.3s;
}

.event-about-grid div{
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 3px;
    transition: 0.3s;

}

.grid-item-1{
    grid-row: 1 / 3;
}

.grid-item-4{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}

.grid-item-5{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.grid-item-6{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
}

.event-detail:hover {
    background-color: #292929;
    cursor: pointer;
    border: 1px solid #da0c85;
    color: #da0c85;
    background-image: url('https://img.freepik.com/free-photo/crowd-people-dancing-club_1340-32833.jpg');
}

.about-event h1{
    font-size: 24px;
}

/* About college */

.about-college{
    border-radius: 10px;
    text-align: center;
    width: 100%;
    height: max-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(218, 12, 133, 0.1) !important;
}

.about-col-bg{
    background-image: url('../res/img/rec.jpg');
    position: absolute;
    height: 60%;
    width: 100%;
    z-index: -1;
    filter: brightness(10%);
    filter: blur(10px);
    opacity: 0.3;
}

.about-college h1{
    font-size: 24px;
    font-weight: 400;
}

.about-college-text-cont{
    font-weight: 100;
    line-height: 30px;
    width: 70%;
}

.query-container{
    margin-top: 30px;
    margin-bottom: 30px;
}

.query-card{
    background-color: rgba(218, 12, 133, 0.6);
    padding: 10px;
    border-radius: 8px;
}

.query-card h1{
    font-size: 18px;
}

.query-card p{
    font-weight: 300;
}

.query-card p span{
    font-weight: 400;
}

.query-card p span:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 750px) {
    .event-about-grid{
        grid-template-columns: 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 60px;
    }

    .event-detail{
        font-size: 16px !important;
    }

    .about-col-bg{
        height: 100%;
    }
    
    .foot-text{
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 420px) {
    .event-about-grid{
        grid-template-columns: 60px 60px 60px;
        grid-template-rows: 100px 100px 60px;
    }

    .event-detail{
        font-size: 12px !important;
        font-weight: 600;
    }

    .about-col-bg{
        height: 100%;
    }

}